/* Add all your custom styles to this stylesheet. Don't edit "styles.less" or "styles.css", as it will be overridden by future updates.
-------------------------*/
iframe
.center-iframe {
  margin:0;
  width: 1200px;
  height: 900px;
  alighn: center;
}
th, td {
    padding: 10px;
}